:root{
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24,39,51,0.8);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    font-size: sans-serif;
    line-height: 1.4;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase{
    /*background-color:rgba(255, 255, 255, 1);*/
    color: rgb(255, 255, 255);
    height: 100vh;
    position: relative;
}

.showcase:before{
    content: '';
    /*background: url('https://media.istockphoto.com/photos/set-of-green-indoor-plants-isolated-on-black-background-picture-id1204424977?k=20&m=1204424977&s=170667a&w=0&h=hBP39YdS5-RWXGxQDaI8MS12yCUu3cAI0s_5NrUWJYE=') no-repeat center
    center/cover;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.showcase .showcase-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}



.boxContainer{
    margin: auto;
    margin-top: 10%;
    position: relative;
    width: 450px;
    height: 42px;
    border: 1.5px solid #cacaca;
    padding:0px 10px;
    border-radius: 50px;
}

.elementsContainer{
    width: 450px;
    height: 100%;
    vertical-align: middle;
}

.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
}

.search:focus{
    outline: none;
}

.material-icons{
    margin-top: 3px;
    font-size: 25;
}


.title{
    margin-left: 75px;
    margin-top: 50px;
}
#my-plants{ 
    font-size: 24px;
}

.card1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 25px;
    /*background: url('https://www.pinclipart.com/picdir/big/317-3170981_abstract-wave-vector-clipart.png');*/
}

.card1 .fotosavila{
    margin-left: 30px;
    
}

.card1:hover{
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.card-container{
    
    padding: 2px 16px;
    
}

.card-container h4{
    margin-bottom: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-right: 135px;
}



.card2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 25px;
    
}

.card2 .fotosavila2{
    margin-left: 30px;
    
}

.card2:hover{
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.card2-container{
    padding: 2px 16px;
}

.card2-container h4{
    margin-bottom: 20px;
}




.card3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 25px;
}

.card3 .fotosavila3{
    margin-left: 30px;
    
}

.card3:hover{
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.card3-container{
    padding: 2px 16px;
}

.card3-container h4{
    margin-bottom: 20px;
}





.circle{
    background-color: #0C9300;
    position: fixed;
    margin-left: 1365px;
    bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}


.circle:hover{
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.circle-container{
    padding: 30px 16px;
}


.cirlce-container .plus{
    margin-top: 150px;
    margin-bottom: 0;
    font-size: 80px;
}





/*.circle-container .plus > a{
    color: inherit;
    text-decoration: none;
}
*/



.contenedor{
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
    width: 450px;
    height: 42px;
}

.select-box{
    width: 500px;
    position: relative;
}

.select-box select{
    height: 42px;
    padding: 5px 15px;
    line-height: 18px;
    font-size: 16px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 15px;
    
}

.select-box select:after{
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -4px;
    border-top: 8px solid #ccc;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}




.circlee{
    height: 50px; /*Estaba en 250px*/
    width: 50px; /*Estaba en 250px*/
    border-radius: 50%;
    background-color: rgb(255, 255, 255);

    position: relative;
    overflow: hidden;
    border: 2px solid #f8f8f8;

}

.circlee:after{
    content: "";
    position: absolute;
    top: 25%;
    width: 200%;
    height: 200%;
    left: -50%;

    background: rgba(8, 135, 185, 0.5);
    box-shadow: 0 0 20px #52d1e2;

    border-radius: 40%;
    animation: rotate 10s linear forwards infinite;

}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

.nueva-carta{
   /* width: 300px;
    height: 384.39px;
    box-shadow: 0px 0px 10px black;*/



    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 25px;
}


/*
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 25px;
}/*

/*
#cardsadd{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 0 auto;
}*/




.nueva-carta:hover{
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.carta-container{
    padding: 2px 16px;
}

.nueva-carta h4{
    margin-bottom: 20px;
}

.nueva-carta .fotosavila6{
    margin: 30px;
}

#nuevo-container{


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-right: 135px;
}

.foto-planta{
    margin-left: 30px;
    width: 250px;
}





/*
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

nav ul li a:hover{
    color: orange;
}*/